.header {
    /*background: #121215; Mas clarito*/
    background-color: #000;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.logo-link img {
    width: 30px;
    height: 30px;
}

.logo-link span {
    margin-left: 8px;
    font-size: 1.5rem;
    font-weight: bold;
}


.user-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-link {
    text-decoration: none;
    color: inherit;
    font-size: 0.95rem;
}

.user-name {
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 10px;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}



/* Navigation */
.navbar {
    background-color: #00876c;
    padding: 0.5rem 2rem;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.nav-item {
    position: relative;
}

.nav-link {
    display: block;
    padding: 1rem 1.5rem;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 1.2rem;
    font-weight: 500;
    white-space: nowrap;
}

.nav-link:hover {
    background: rgba(255,255,255,0.1);
}
